---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Sobre mí | Eloy Pérez" description="Todo lo que necesitas saber">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por visitar mi página. Aquí encontrarás información sobre mi experiencia, educación y habilidades."
			>
				<img
					width="1553"
					height="873"
					src="/assets/mindedH.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mí</h2>
				<div class="content">
					<p>
						Coming Soon...
					</p>
					<!-- <p>
						Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget gravida cum sociis
						natoque penatibus. Cras fermentum odio eu feugiat pretium nibh. Proin nibh nisl
						condimentum id venenatis. Porta nibh venenatis cras sed felis eget velit. Id diam vel
						quam elementum pulvinar etiam non.
					</p>
					<p>
						Ultrices tincidunt arcu non sodales neque sodales ut. Sed enim ut sem viverra aliquet
						eget sit amet. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.
						Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat nisl
						pretium fusce.
					</p> -->
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<div class="content-studies">
						<p><b>Desarrollo Web</b> | 2022 - 2024</p><p>CampusFp</p><br>
					</div>
					<div class="content-studies">
						<p><b>Bachillerato Ciencias Tecnológicas</b> | 2020 - 2022</p><p>I.E.S. Pedro Duque</p><br>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experiencia</h2>
				<div class="content">
					<div class="content-experience">
						<p><b>Seidor</b> | 2024 | <i>Desarrollador Web</i></p><p>Desarrollé nuevas interfaces e implementaciones, ayudando así al óptimo funcionamiento de la página. También desarrollé labores de análisis para buscar la mejor opción posible</p><p>Colaboré en proyectos como <a href="https://www.mapfre.es/empresas/">Mapfre</a> <i>(Colombia, Répública Dominicana, Brazil...), con Angular versiones 14 y 18</i>, <a href="https://www.naturgy.es/hogar">Natugy</a> usando AEM como tecnología, <a href="https://www.aepd.es/">AEPD</a> analizando y desarrollando el sistema de formularios internos, entre otros</p><br>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Coming Soon...</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
